<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <img style="width: 100px; height: auto;" src="/images/sound-cloud.png" alt="sound-cloud">
        <h1 class="title"> Mongo Scraper </h1>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link disabled" href="/saved">Playlists</a>
        <a href="/clearsaved"><button class="btn btn-sm btn-outline-secondary" type="button">Clear Saved Playlists!</button></a>
    </form>
    <h4 style="float:right;" class="title2">
        Current saved SoundCloud scrapes...
        <img style="width: 45px; height: auto; margin-bottom: 10px;" src="/images/silence.png" alt="silence">
    </h4>
</nav>

<div class="content"></div>

<div class="container">
    <p class="title3">Oh no! Looks like you need to add some new playlists:</p>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <a href="/">
                <button style="margin-left: 23%;" class="btn btn-outline-primary" type="button">Browse playlists</button>
            </a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<div style="margin-left: 22px;" class="row scraped">
    {{#each playlist}}
    {{#if saved}}
    <div style="float: left; margin: 15px;" class="playlist">
        <a class="playlist-link" href="{{playlistLink}}" target="_blank">
            <img class="playlist-image" src="{{imageLink}}" alt="image-link">
            <p class="playlist-title">{{title}}</p>
        </a>
        <button data-id="{{_id}}" style="font-size: 15px; margin-left: 15%;" class="note btn btn-sm btn-outline-primary"
            type="button">Notes</button>
        <button data-id="{{_id}}" style="font-size: 15px; margin-left: 7%;" class="delete btn btn-sm btn-outline-primary"
            type="button">Delete</button>
    </div>
    {{/if}}
    {{/each}}
</div>

<footer>
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <img style="width: 35px; height: auto; margin-left: 5px; margin-right: 1px;" src="/images/sound-cloud.png" alt="sound-cloud">
        SoundCloud Mongo Scraper
    </div>
</footer>